#result
{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: double;
	border-bottom-color: lightblue;
	width: 100%;
	height: 45px;
	text-align: right;
	font-family: 'Orbitron', sans-serif;
	font-size: 25px;
}

input[type=button]
{

	background-color: transparent;
	border: none;
	cursor: pointer;
	bottom: 50px;
	width: 45px;
	height: 45px;
	font-family: 'Orbitron', sans-serif;
	font-size: 16px
}
input[type=button]:hover
{
	/*background-color: lightblue;*/
	font-weight: bold;
	font-size: 20px;
}


table
{
	height: 320px;
	width: 100%;
	padding: 2px;
	text-align: center;
}

/* Wave CSS*/
.box
{
	position: fixed;
	top: 100px;
	transform: rotate(80deg);
	left: 700px;
	z-index: -1;
}

.wave 
{
	position: absolute;
	opacity: .4;
	width: 1500px;
	height: 1300px;
	margin-left: 0px;
	margin-top: 0px;
	border-radius: 43%;
}

@keyframes rotate 
{
	from { transform: rotate(0deg); }
	from { transform: rotate(360deg); }
}

.wave.-one 
{
	animation: rotate 10000ms infinite linear;
	opacity: .1;
	background: #0af;
}

.wave.-two 
{
	animation: rotate 7000ms infinite linear;
	opacity: .1;
	background: black;
}

.wave.-three 
{
	animation: rotate 7500ms infinite linear;
	background-color: #77daff;
}